header{
  background: darkblue;
  width: 100%;
  height: 100%;
  margin: 0;
}
nav{
  background: darkblue;
}

nav ul{
  background: darkblue;
}

nav ul li{
  background: darkblue;
}

h1{
  background: darkblue;
  padding-top:1vh;
  padding-left:1vh;
}

.header-content {
  display: flex ;
  background: darkblue;
  height: 10vh;
  width: 100%;
  font-size: 2vh;
  text-align: center;
  padding: 1vh;
}
.icon-menu {
  position: absolute;
  background: darkblue;
  top: 1px;
  right: 2px;
  font-size: 1.25em;
}

.icon-menu:after {
  display: none;
  background: darkblue;
}

.icon-menu:after:hover + ul {
  display: block;
  background: darkblue;
}


ul {
  padding-left: 1vw;
  background: darkblue;
}

ul li{
  margin-left: 2vw;
  background: darkblue;
}
